{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Locally grown food Gothenburg" />
    <meta name="keywords" content="Locally grown food Gotehburg" />

    <script
      src="https://kit.fontawesome.com/032f9bfe1a.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>North Corner</title>
  </head>

  <body>
    <header class="menu">
      <a href="index.html">
        <h1 class="logo" aria-label="Logo leading home">
          North <span>Corner</span>
        </h1>
      </a>
      <!--navbar starts-->
      <div class="navbar">
        <a href="index.html">Home</a>
        <div class="dropdown">
          <button class="dropbtn">
            Menu
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="book.html">Book A Table</a>
          </div>
        </div>
      </div>
    </header>

    <section class="timeline-info">
      <h2>This Is Us</h2>
    </section>

    <section id="timeline">
      <div class="item">
        <div
          class="tl-bg"
          style="
            background-image: url(https://res.cloudinary.com/matgus/image/upload/v1706264407/static/wood.f88bec41eebe.jpg);
          "
        ></div>

        <div class="year">
          <p>1995</p>
        </div>

        <div class="tm-text">
          <h1>THIS IS US</h1>
          <p>
            The resturant was built in 1989 and started as an art gallery.
            Today, 34 years later we are here, NORTH CORNER. We are the only
            ones to work with arctic natural food of first class, directly from
            northen Sweden.
          </p>
        </div>
      </div>

      <div class="item">
        <div
          class="tl-bg"
          style="
            background-image: url(https://res.cloudinary.com/matgus/image/upload/v1706185621/static/waterfall.922ab1b33daa.jpg);
          "
        ></div>

        <div class="year">
          <p>1997</p>
        </div>

        <div class="tm-text">
          <h1>THE RED THREAD</h1>
          <p>
            We get a building permit and starts to redo the art gallery into a
            resturant. Our focus from the beginning was the theme, ice and snow.
            And to take care of the unique environment found here in Kiruna.
          </p>
        </div>
      </div>

      <div class="item">
        <div
          class="tl-bg"
          style="
            background-image: url(https://res.cloudinary.com/matgus/image/upload/v1706186986/static/three.2ea4124b6ffb.jpg);
          "
        ></div>

        <div class="year">
          <p>2000</p>
        </div>

        <div class="tm-text">
          <h1>THE GRAND OPENING AND THE NATURE IN MIND</h1>
          <p>
            In 2000 we opened with flying colours. Ice and snow were everywhere
            to be found and it was a success. We are passionate about creating
            life-enriching experiences and we live with nature in everything we
            do. All the food is organic and grown with love from our nearby
            farms and fields.
          </p>
        </div>
      </div>

      <div class="item">
        <div
          class="tl-bg"
          style="
            background-image: url(https://res.cloudinary.com/matgus/image/upload/v1706264405/static/snow2..e01cf625644f.jpg);
          "
        ></div>

        <div class="year">
          <p>TODAY</p>
        </div>

        <div class="tm-text">
          <h1>ICE ART AND AN ATTRACTION IN SWEDEN – ALL YEAR ROUND</h1>
          <p>
            Art is present everywhere in the resturant. At North Corner you
            enjoy local delicacies, the silence and If you're lucky, you'll see
            the northern lights dancing in the sky during the dark months. We
            are fortunate to be able to do this 365 days a year. We focus on two
            things: A climate-smart restaurant that gives you as a customer
            delicacies from northern Sweden. And that thing that makes us
            unique, snow and ice.
          </p>
        </div>
      </div>
    </section>

    <!--footer-->

    <footer class="footer">
      <div class="footer-container">
        <div class="box2">
          <h3>QUICK LINKS</h3>
          <a href="index.html"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="menu.html"><i class="fas fa-arrow-right"></i>Menu</a>
          <a href="about.html"><i class="fas fa-arrow-right"></i>About Us</a>
          <a href="book.html"><i class="fas fa-arrow-right"></i>Book A Table</a>
        </div>

        <div class="box2">
          <h3>CONTACT US</h3>
          <a href="#"><i class="fas fa-phone"></i> +123-456-7890</a>
          <a href="#"><i class="fas fa-envelope"></i> north.corner@gmail.com</a>
          <a href="#"
            ><i class="fas fa-envelope"></i> Reenstiernagatan 8-10, Kiruna,
            Sweden</a
          >
          <a
            href="https://www.google.com/maps/place/Kiruna/@67.8614204,20.216371,17z/data=!4m6!3m5!1s0x45d08e2ae4257c2b:0x4034506de8c8660!8m2!3d67.8557995!4d20.225282!16zL20vMHp2MnY?entry=ttu"
            ><i class="fa-solid fa-map-pin"></i>Map</a
          >
        </div>

        <div class="box2">
          <h3>FOLLOW US</h3>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener"
            aria-label="Visit our Facebook page (opens in new tab)"
            ><i class="fa-brands fa-facebook"></i>Facebook</a
          >

          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener"
            aria-label="Visit our Instagram page (opens in new tab)"
            ><i class="fa-brands fa-instagram"></i>Instagram</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
