{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Locally grown food Gothenburg" />
    <meta name="keywords" content="Locally grown food Gotehburg" />

    <script
      src="https://kit.fontawesome.com/032f9bfe1a.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>North Corner</title>
  </head>

  <body>
    <header class="menu">
      <a href="index.html">
        <h1 class="logo" aria-label="Logo leading home">
          North <span>Corner</span>
        </h1>
      </a>
      <!--navbar starts-->
      <div class="navbar">
        <a href="index.html">Home</a>
        <div class="dropdown">
          <button class="dropbtn">
            Menu
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="book.html">Book A Table</a>
          </div>
        </div>
      </div>
    </header>

    <section>
        <h2 class="timeline-info">This Is Us</h2>
        <div class="container">
            <div class="timeline clearfix">
                <div class="vertical-line">
                    <div id="post-1" class="col timeline-post">
                        <div class="vesti-content-wrapper">
                            <div class="photo">
                                <img class="time-line-img" src="{% static 'food.jpg' %}" alt="food" />
                                <div class="date-wrapper">
                                    <div class="date">
                                        <span class="day">Us</span>
                                        <br />
                                        <span class="year"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <a class="desc-a" href="#">
                                    <h4> LOCALLY GROWN AND ORGANIC FOOD</h4>
                                </a>
                                <p> Our menu is designed to suit everyone. Adults, children and the nature.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="post-2" class="col timeline-post">
                        <div class="content-wrapper">
                            <div class="photo">
                                <img class="time-line-img" src="{% static 'dessert.jpg' %}" alt="dessert" />
                                <div class="date-wrapper">
                                    <div class="date">
                                        <span class="day">You</span>
                                        <br />
                                        <span class="year"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <a class="desc-a" href="#">
                                    <h4>OUR GOAL AND PROMISE TO YOU</h4>
                                </a>
                                <p>
                                    We strive to please every customer and our commitment is to always use the highest
                                    quality and fresh ingredients.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="post-3" class="col timeline-post">
                        <div class="content-wrapper">
                            <div class="photo">
                                <img class="time-line-img" src="{% static 'wood.jpg' %}" alt="wood" />
                                <div class="date-wrapper">
                                    <div class="date">
                                        <span class="day">Farms</span>
                                        <br />
                                        <span class="year"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <a class="desc-a" href="#">
                                    <h4>THE NATURE IN MIND</h4>
                                </a>
                                <p>
                                    All the food is organic and grown with love from our nearby farms and fields.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="post-4" class="col timeline-post">
                        <div class="content-wrapper">
                            <div class="photo">
                                <img class="time-line-img" src="{% static 'waterfall.jpg' %}" alt="waterfall" />
                                <div class="date-wrapper">
                                    <div class="date">
                                        <span class="day">Ice</span>
                                        <br />
                                        <span class="year">Art</span>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <a class="desc-a" href="#">
                                    <h4>ICE ART</h4>
                                </a>
                                <p>
                                    A climate-smart restaurant that
                                    gives you as a customer delicacies from northern Sweden. And
                                    that thing that makes us unique, snow and ice.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--footer-->

    <footer class="footer">
      <div class="footer-container">
        <div class="box2">
          <h3>QUICK LINKS</h3>
          <a href="index.html"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="menu.html"><i class="fas fa-arrow-right"></i>Menu</a>
          <a href="about.html"><i class="fas fa-arrow-right"></i>About Us</a>
          <a href="book.html"><i class="fas fa-arrow-right"></i>Book A Table</a>
        </div>

        <div class="box2">
          <h3>CONTACT US</h3>
          <a href="#"><i class="fas fa-phone"></i> +123-456-7890</a>
          <a href="#"><i class="fas fa-envelope"></i> north.corner@gmail.com</a>
          <a href="#"
            ><i class="fas fa-envelope"></i> Reenstiernagatan 8-10, Kiruna,
            Sweden</a
          >
          <a
            href="https://www.google.com/maps/place/Kiruna/@67.8614204,20.216371,17z/data=!4m6!3m5!1s0x45d08e2ae4257c2b:0x4034506de8c8660!8m2!3d67.8557995!4d20.225282!16zL20vMHp2MnY?entry=ttu"
            ><i class="fa-solid fa-map-pin"></i>Map</a
          >
        </div>

        <div class="box2">
          <h3>FOLLOW US</h3>
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener"
            aria-label="Visit our Facebook page (opens in new tab)"
            ><i class="fa-brands fa-facebook"></i>Facebook</a
          >

          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener"
            aria-label="Visit our Instagram page (opens in new tab)"
            ><i class="fa-brands fa-instagram"></i>Instagram</a
          >
        </div>
      </div>
    </footer>
  </body>
</html>
