{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Locally grown food Gothenburg" />
    <meta name="keywords" content="Locally grown food Gotehburg" />

    <script
      src="https://kit.fontawesome.com/032f9bfe1a.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>North Corner</title>
  </head>

  <body>
    <header class="menu">
      <a href="index.html">
        <h1 class="logo" aria-label="Logo leading home">
          North <span>Corner</span>
        </h1>
      </a>
      <!--navbar starts-->
      <div class="navbar">
        <a href="index.html">Home</a>
        <div class="dropdown">
          <button class="dropbtn">
            Menu
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="menu.html">Menu</a>
            <a href="about.html">About Us</a>
            <a href="book.html">Book A Table</a>
          </div>
        </div>
      </div>
    </header>
    <section class="video-intro">
        <div class="tm-video-wrapper">
        <video autoplay="" muted="" loop="" id="tm-video">
        <source  src="{% static 'harbour.mp4' %}" alt="harbour" type="video/mp4">"
      </div>
        <div class="banner-text">
            <h2>Check Out Our Menu Below</h2>
        </div>

    </section>

<!--menu-->
<main class="menu2" id="menu">
    <h1 class="heading">OUR MENU</h1>
    <div class="box-container">
        <a class="box">
            <div class="content">
                <h3>MOOSE MEATBALLS</h3>
                <p>
                    Mashed Potatoes, Raw Stir-Fried Lingonberry And Cream Sauce.
                </p>
            </div>
        </a>
        <a class="box">
            <div class="content">
                <h3>DIVED SALMON</h3>
                <p>Dill And Sugar-Spiced Sweet Salmon With Mustard Sauce And Potatoes.</p>
            </div>
        </a>
        <a class="box">
            <div class="content">
                <h3>PEA SOUP</h3>
                <p>
                    Pea Soup With Pork And Mustard Served With Thin Pancakes And Jam.
                </p>
            </div>
        </a>
        <a class="box">
            <div class="content">
                <h3>POTATO PANCAKE</h3>
                <p>Raw Grated Potatoes Are Served With Lingonberry Jam And Bacon.</p>
            </div>
        </a>
    </div>
    <!--menu-->
    <div class="menu2">
        <h1 class="heading">FOR THE KIDS</h1>
        <div class="box-container">
            <a class="box">
                <div class="content">
                    <h3>MINI PANCAKES</h3>
                    <p>
                        Served With Whipped Cream And Strawberry Jam.
                </div>
            </a>
            <a class="box">
                <div class="content">
                    <h3>PASTA WITH TOMATO SAUCE</h3>
                    <p>Spaghetti with house-made marinara sauce.</p>
                </div>
            </a>
            <a class="box">
                <div class="content">
                    <h3>MINI MOOSE MEATBALLS</h3>
                    <p>Mashed Potatoes, Raw Stir-Fried Lingonberry And Cream Sauce.</p>
                </div>
            </a>
            <a class="box">
                <div class="content">
                    <h3>GRILLED CHICKEN STRIPS</h3>
                    <p>Grilled chicken breast strips with BBQ sauce.</p>
                </div>
            </a>
            <!--menu-->
            <div class="menu2">
                <h1 class="heading">DESSERTS</h1>
                <div class="box-container">
                    <a class="box">
                        <div class="content">
                            <h3>BLACK CURRANT</h3>
                            <p>Licorice, white chocolate, vanilla.</p>
                        </div>
                    </a>
                    <a class="box">
                        <div class="content">
                            <h3>BLUEBERRIES</h3>
                            <p>Buttermilk, lemon, thyme.</p>
                        </div>
                    </a>
                    <a class="box">
                        <div class="content">
                            <h3>LINGONBERRIES</h3>
                            <p>Almond, caramel, coffee.</p>
                        </div>
                    </a>
                    <a class="box">
                        <div class="content">
                            <h3>CLOUDBERRIES</h3>
                            <p>Hazelnut, browned butter, dark chocolate</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--menu-->
            <div class="menu2">
                <h1 class="heading">DRINKS</h1>
                <ul class="options-list">
                    <li>Coca-Cola</li>
                    <li>Sprite</li>
                    <li>Fanta</li>
                </ul>
                <ul class="options-list">
                    <li>Red Wine: 95kr/Glass 219kr/Bottle</li>
                    <li>White Wine: 95kr/Glass 219kr/Bottle</li>
                    <li>Prosecco: 100kr/Glass 300kr/Bottle</li>
                </ul>
            </div>
        </div>
    </div>
</main>



    <!--footer-->
    
    <footer class="footer">
        <div class="footer-container">
            <div class="box2">
                <h3>QUICK LINKS</h3>
                <a href="index.html"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="menu.html"><i class="fas fa-arrow-right"></i>Menu</a>
                <a href="about.html"><i class="fas fa-arrow-right"></i>About Us</a>
                <a href="book.html"><i class="fas fa-arrow-right"></i>Book A Table</a>
            </div>
    
            <div class="box2">
                <h3>CONTACT US</h3>
                <a href="#"><i class="fas fa-phone"></i> +123-456-7890</a>
                <a href="#"><i class="fas fa-envelope"></i> north.corner@gmail.com</a>
                <a href="#"><i class="fas fa-envelope"></i> Reenstiernagatan 8-10, Kiruna,
                    Sweden</a>
                <a
                    href="https://www.google.com/maps/place/Kiruna/@67.8614204,20.216371,17z/data=!4m6!3m5!1s0x45d08e2ae4257c2b:0x4034506de8c8660!8m2!3d67.8557995!4d20.225282!16zL20vMHp2MnY?entry=ttu"><i
                        class="fa-solid fa-map-pin"></i>Map</a>
            </div>
    
            <div class="box2">
                <h3>FOLLOW US</h3>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in new tab)"><i
                        class="fa-brands fa-facebook"></i>Facebook</a>
    
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in new tab)"><i
                        class="fa-brands fa-instagram"></i>Instagram</a>
            </div>
        </div>
    </footer>
  </body>
</html>
